aws_region                = "us-east-1"
vpc_cidr                  = "10.30.0.0/16"
az_count                  = 2
enable_nat_gateway        = true
kubernetes_version        = null
eks_endpoint_public_access = false
eks_endpoint_private_access = true
database_instance_class = "db.t4g.small"
database_backup_retention_days = 7
database_deletion_protection = true
redis_node_type = "cache.t4g.small"
redis_num_cache_clusters = 2
max_tagged_images         = 40
secret_recovery_window_in_days = 14
create_github_actions_role = false
github_repository         = "christiankfoury/production-ai-platform"
