aws_region                = "us-east-1"
vpc_cidr                  = "10.20.0.0/16"
az_count                  = 2
enable_nat_gateway        = false
kubernetes_version        = null
eks_endpoint_public_access = false
eks_endpoint_private_access = true
database_instance_class = "db.t4g.micro"
database_backup_retention_days = 1
database_deletion_protection = false
redis_node_type = "cache.t4g.micro"
redis_num_cache_clusters = 1
max_tagged_images         = 20
secret_recovery_window_in_days = 7
create_github_actions_role = false
github_repository         = "christiankfoury/production-ai-platform"
